
.mainReachoutDiv{
  padding: 50px;
}

.contactTitle{
  padding: 15px 10% !important;
  padding: 0px 0px 0px 0px!important;
}

.leftReachout{
   display: flex !important;
   align-items: center;
   flex-direction: column !important; 
}
.leftImage{
  /* margin: 20px auto; */
  height: 400px;
  width: 70%;
  align-items: center;
  margin-left: 70px;
}
.contactNum{
  direction: ltr;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: fit-content;
}

.formDiv{
  background: transparent;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 13px;
  margin-bottom: 39px;
}
.formControl{
  background: transparent;
  border: none;
  outline: none;
}
.formControl:focus-visible {
  border: none;
  color: var(--primary-color);
}
::placeholder {
  color: var(--primary-color);
  opacity: 1; /* Firefox */
}
.icon{
  color: var(--secondary-color);
  font-size: 19px;
}
.formMessage textarea{
  /* background: #7EAED6; */
  min-height: 200px;
  padding: 10px;
  border: 2px solid var(--primary-color);
  outline: none !important;

}
.reachoutBtn{
  background-color: var(--primary-color) !important;
  color: white !important;
  font-weight: 500;
  font-size: 24px;
  font-weight:bold !important;
  
}
.reachoutBtn:hover{
  background: var(--white) !important;
  color:  var(--primary-color)!important;
  border: 3px solid var(--primary-color) !important;
  font-weight:bold !important;
  /* transition: 500ms; */
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
  border: none;
}
.contactValidation{
  color: var(--danger-color);
}
.contactParagraph{
  /* font-family: 'Pacifico', cursive; */

  /* width: 61%; */
  width: 88%;
  color: var(--primary-color);
  font-size: 17px;
  /* text-align: left; */
  padding-top: 30px;
  margin: center;
}
@media (max-width: 1024px) {
  .contactParagraph{
    /* font-family: sans-serif; */
  width: 80%;
  font-size: 17px;
  text-align: justify;
}
.leftImage{
  /* margin: 20px auto; */
  height: 225px;
}
}
@media (max-width: 768px) {
  .contactParagraph{
    /* font-family: sans-serif; */
  width: 100%;
  font-size: 17px;
  text-align: justify;
  padding-top: 33px;
}

.leftImage{
  /* margin: 20px auto; */
  height: 225px;
}
}
@media (max-width: 480px) {
  .formControl{
  width: 89% !important;
}
.formDiv{
  justify-content: flex-start;
}
.leftImage{
  height: 160px;
}
}


@media (min-width: 768px) and (max-width: 791px) {
  .contactParagraph{
    /* font-family: sans-serif; */
  width: 87% !important;
  margin: auto;
  font-size: 17px;
  text-align: justify;
  padding-top: 33px;
}

.leftReachout{
  width: 100% !important;
}
.rightReachout{
  width: 87% !important;
    /* margin: 38px; */
    margin: auto;
}


}

@media (max-width: 1320px) {
  .contactTitle{
    padding: 0px 0px 0px 45px!important;
  }
}
/* @media (max-width:500px){
  .contactTitle{
    text-align: center;
    margin-left: 0 !important;
  }
}
@media (max-width:820){
  .contactTitle{
    margin-left: 50px;
  }
} */