.pagination {
  display: flex;
  justify-content: center;
  padding: 29px;
}
.pagination .paginationBtn {
  color: var(--primary-color);
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px 12px;
  border: none;
}
.activeLi {
  padding: 0 5px;
  background: var(--tertiary-color);
  margin: 0px 12px;
  color: var(--primary-button-font-color) !important;
}
.activeLi:hover{
  background-color: var(--primary-color) !important;
  color: var(--white) !important;

}
.pagination li {
  color: var(--primary-color);
  cursor: pointer;
  list-style-type: none;
}
