@import "../_App.module.scss";

.mainCardsDiv{
    width: 90%;
    background: $primary-color;
    margin: auto;
    border-radius: 15px;
}

.titleDiv{
    background: $secondary-color;
    width: fit-content;
    margin: 20px 3% -20px;
    z-index: 1;
    position: relative;
    border-radius: 25px;
}

.mainTitle{
    padding: 10px 25px;
}

.cardTitle{
    color: $secondary-color;
    text-align: center;
    position: absolute;
    top: 54px;
    left: 50%;
    transform: translate(-50%, 0px);
}

.cardMessage{
    color: $secondary-color;
    padding: 15px 30px;
    font-weight: bold;
}

.testimonialCardBody{

    &:hover {
        
        .cardTitle{
            transition: 500ms;
       color: $primary-color;
   }

   .testimonialImg{
    transition: 500ms;

    border: 5px solid $primary-color;
}

.testimonialTextBox{
    transition: 500ms;

    border: 5px solid $primary-color;
}

      }
}

.testimonialCardBody{
    background: transparent;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 80%;
}

.testimonialImg{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto -65px;
    position: relative;
    z-index: 1;
    border: 5px solid $secondary-color;
    object-fit: cover;
}

.testimonialTextBox{
    background: $white;
    border-radius: 15px;
    border: 5px solid $secondary-color;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.qStart{
    color: $secondary-color;
    text-align: start;
    padding: 10px 25px;
    font-size: 30px;
}
.qEnd{
    color: $secondary-color;
    text-align: end;
    padding: 10px 25px;
    font-size: 30px;
}


.customNextArrow{
    display: none;
 i {
    position: absolute;
    top: 95px;
    font-size: 25px;
    cursor: pointer;
    right: -5px;
  }
}

.customPrevArrow {
    display: none;
    i {
    position: absolute;
    top: 95px;
    font-size: 25px;
    cursor: pointer;
    left: -5px;
  }
}


@media (min-width: 992px) and (max-width: 1200px) {
   
    .customPrevArrow {i{
      position: absolute;
      top: 101px;
    }
}
    .customNextArrow {i{
      position: absolute;
      top: 101px;
    }
}
  }

  
@media screen and (max-width: 992px) {
    .customNextArrow {i {
        position: absolute;
        top: 90px !important;
        right: -10px;
      }
    }
    .customPrevArrow {i {
        position: absolute;
        top: 90px !important;
        left: -10px;
      }
    }
}

@media (min-width: 250px) and (max-width: 768px) {
    .testimonialImg{
        height: 100px;
        width: 100px;
        margin: 0 auto -45px;
    }
    .customNextArrow {i {
      position: absolute;
      top: 70px !important;
      right: -10px;
    }
}
  .customPrevArrow {i {
      position: absolute;
      top: 70px !important;
      left: -10px;
    }
}
  }