/* main color in arab new york website  */
$primary-color: #002973;
$secondary-color : #C3A009;
$transparent-color : rgba(190,0,64 ,0.50);
$tertiary-color: #FFD200;
$box-color: #DCE0E6;
$highlight-color: #565252;
$primary-button-font-color: #002973;
$sub-box-color :  rgba(247, 254, 255, 0.1);
$danger-color: red;
$success-color : green;
$black: black;
$white: #ffff;
$nav-color : #ffff;
