@import "../_App.module.scss";

.formDiv {
  width: 50%;
  margin: auto;
  padding: 30px;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  margin-top: 51px;
}
.jobContact{
  display:flex;
  flex-wrap:wrap;
}

.helpDiv{
  width:350px;
  min-width:200px;
  height:250px;
  position: relative;
    right: 100px;
    top: 50px;
  min-height:200px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-align:center;
}
.helpDivAr{
  width:350px;
  min-width:200px;
  height:250px;
  position: relative;
    left: 100px;
    top: 50px;
  min-height:200px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-align:center;
}
.h3Help{
  font-size:25px;
  font-weight:700;
  color:rgba(5, 67, 107, 1);
  margin-top:15px;
}
.buttonHelp{
  margin-top:80px;
  width:200px;
  height:50px;
  font-weight:600;
  color:rgba(255, 255, 255, 1);
  background-color:rgba(190, 0, 64, 1);
}
.jobFormTitle {
  text-align: center;
  padding-top: 26px;
  font-size: 30px;
}
.submitButton {
  display: flex;
  justify-content: center;
  padding-top: 34px;

  button {
    padding: 8px;
    border: none;
    background: #be0040;
    color: white;
    margin: 25px 83px;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: bold;
    width: 265px;
  }
  button:hover{
    background:#153866;
  }
}

.inputDiv {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  ::placeholder {
    color: #808080;
  }
  label {
    font-size: 20px !important;
    color: $primary-color;
    font-weight: bold;
  }
  input {
    padding: 9px;
    border-radius: 5px;
    border: 1px solid $secondary-color;
    outline: none;
    margin-top: 6px;
  }
}

.inputDiv:focus input{
  border: 1px solid $secondary-color;

}


.selectSearchDiv {
  display: flex;
  padding-top: 17px;
}

.selectDiv {
  width: 50%;
  margin-right: 61px;
}

.singleSelectDiv{
  width: 41%;
}

.selectDivAr {
  width: 50%;
  margin-left: 61px !important;
}
.selectOptionDiv {
  display: flex;
  padding-top: 38px;

  select {
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #fff;
    width: 50%;
    margin-right: 29px;
    border: none;
    padding: 15px;
    font-size: 17px;
    color: $secondary-color;
    margin-top: 6px;
  }
}

.selectOptionDivAr {
  display: flex;
  padding-top: 38px;

  select {
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #fff;
    width: 50%;
    margin-left: 29px;
    border: none;
    padding: 15px;
    font-size: 17px;
    color: $secondary-color;
    margin-top: 6px;
  }
}


.firstInput{
  border-radius: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #fff;
  width: 50%;
  margin-right: 29px;
  border: none;
  padding: 15px;
  font-size: 17px;
  color: $secondary-color;
  margin-top: 6px;
  ::placeholder{
    color: $secondary-color !important;
  }
}

.txtAreaDiv {
  padding-top: 17px;
  textarea {
    border: none !important;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.2);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    resize: none;
    width: 100%;
    height: 250px;
    outline: none;
    padding: 20px;
    margin-top: 6px;
  }
  label {
    font-size: 20px !important;
    color: $primary-color;
    font-weight: bold;
  }
}

.checkboxDiv {
  width: 100%;
  padding: 0px 0px 10px;
  align-items: center;
  display: flex;
  padding-top: 16px;
  input {
    height: 20px;
  }
}
.inputDivImage {
  display: flex !important;
  align-items: center;
  img {
    border-radius: 15px;
    border: 2px solid #be0040;
    padding: 4px;
    margin: 17px 15px 0px;
    height: 230px;
    object-fit: cover;
    cursor: pointer;
    width: 85%;
  }

}
.contactValidation{
  padding-top: 4px;
  color: $danger-color;
}

@media (max-width: 768px) {
  .formDiv {
    width: 100%;
  }
  .selectDiv{

    margin-right: 13px !important;
    
  }
  .selectDivAr{
    margin-left: 13px !important;
    
  }
  .selectOptionDiv{
    select{
    margin-right: 13px;
  }
}
  .selectOptionDivAr{
    select{
    margin-left: 13px;
  }
}
  .inputDiv{
    label{
    font-size: 15px !important;
  }
}

.txtAreaDiv{
    label{
        font-size: 15px !important;
    }
}
.formDiv{
    margin-top: 16px;
}
.uploadTitle{
    h2{
        font-size: 20px;
        margin-top: 38px;
    }
}
}

@media (max-width:1024px){
  .helpDiv{
  display:none;
  }
}
