@import "../_App.module.scss";

.titleDiv {
  padding: 39px 102px 0px;

  p {
    font-size: 20px;
    font-weight: bold;
    color: $secondary-color;
  }
}
.helpDiv{
  width:476px;
  min-width:200px;
  height:405px;
  min-height:200px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-align:center;
}
.h3Help{
  font-size:35px;
  font-weight:700;
  color:rgba(5, 67, 107, 1);
  margin-top:15px;
}
.buttonHelp{
  margin-top:80px;
  width:306px;
  height:65px;
  font-weight:600;
  color:rgba(255, 255, 255, 1);
  background-color:rgba(190, 0, 64, 1);
}
.btnDiv {
  display: flex;
  justify-content: center;
  padding-top: 47px;

  button {
    padding: 8px;
    border: none;
    background: $secondary-color;
    color: $primary-button-font-color;
    border-radius: 15px;
    width: 249px;
    margin: 0px 83px;
    font-size: 18px;
    font-weight: bold;
  }
}

.btnDiv {
  button {
    &:hover {
      background-color: $primary-color;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .btnDiv {
    button {
      margin: 0px 57px;
    }
  }
}

@media (max-width: 768px) {
  .btnDiv {
    button {
      width: 148px;
      margin: 0px 13px;
    }
  }
  .titleDiv {
    padding: 36px 42px 0px;
  }
}
