@import "../_App.module.scss";


.btnDiv {
  display: flex;
  justify-content: center;
  padding-top: 47px;

  button {
    padding: 8px;
    border: none;
    background: $secondary-color;
    color: $primary-button-font-color;
    border-radius: 15px;
    width: 249px;
    margin: 0px 83px;
    font-size: 18px;
    font-weight: bold;
  }
}

.btnDiv {
  button {
    &:hover {
      background-color: $primary-color;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .btnDiv {
    button {
      margin: 0px 57px;
    }
  }
}

@media (max-width: 768px) {
  .btnDiv {
    button {
      width: 148px;
      margin: 0px 13px;
    }
  }

}


