@import "../_App.module.scss";

.ContactUsPage {
  height: 100% !important;
}
.registerPage {
  flex-wrap: wrap;
  justify-content: center;
  min-height: 90vh;

  .rightAuth {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    //register component style
    .registerFormDiv {
      width: 60%;
      margin: auto;
      padding: 45px 15px 5px;

      .subAuthTitle {
        width: 70%;
      }

      .contactTitle {
        color: #0a4422;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // gap: 20px;
        input {
          width: 45%;
          margin: 0px 0px 20px;
          border-radius: 12px;
          border: 2px solid $secondary-color !important; 
          outline: none;

        }
        select {
          margin-bottom: 20px !important;
          border-radius: 12px !important;
          border: 2px solid $secondary-color!important; 
          outline: none;

        }
        textarea {
          width: 100%;
          min-height: 124px !important;
          resize: none !important;
          border: 2px solid $secondary-color!important; 
          outline: none;
        }

        .middleFormInputs {
          display: flex;
          justify-content: space-between;
        }
        .changePasswordDiv {
          margin: 0 0 20px;
          .passwordInput {
            input {
              margin: 0 0 10px;
            }
          }
        }
        .passwordInput {
          display: flex;
          position: relative;

          div {
            .passIcon {
              position: absolute;
              line-height: 45px;
            }
            .passIconLanguageEn {
              right: 10px;
            }
            .passIconLanguageAr {
              left: 10px;
            }
          }
        }
        input {
          background: #ffffff;
          // border: 1px solid $darkGreen;
          border-radius: 12px;
          height: 45px;
          padding: 5px 10px;
        }
        .checkBox {
          width: none !important;
          height: 0px !important;
          margin: 0px 0px 20px;
        }

        .validationWarn {
          color: red;
          width: 100%;
          margin: 0;
        }

        .contactTextArea {
          width: 100% !important;
          min-height: 100px;
          border-radius: 12px;
          padding: 5px 10px !important;
        }
      }

      .loginBtnsDiv {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .forgetPassBtn {
          border: none;
          background-color: transparent;
        }
      }
      .signUpBtn {
        margin: 20px 0;
        height: 45px;
        
        border-radius: 12px;
        color: $white;
      }

      .deleteAccountBtn {
        margin: 20px 5px;
        height: 45px;
        border-radius: 12px;
        color: $white;
      }

      .ConfirmDeleteAccountBtn {
        
      }
      .CancelDeleteAccountBtn {
        background: #cf1e50;
      }

      .contactBtn {
        display: flex;
        margin: 20px auto;
        justify-content: center;
        align-items: center;
      }

      .checkboxDiv {
        display: flex;
        // padding: 10px 0;
        align-items: center;
        flex-direction: column;
        input {
          // height: 27px;
          width: 27px;
          margin: 0 4px;
          height: 27px !important;
          // margin: 0 4px;
        }

        div {
          display: flex;
          padding: 10px 0;
          input {
            // height: 27px;
            width: 27px;
            margin: 0 4px;
            // height: 0px !important;
          }

          label {
            padding: 0 4px;
          }
        }
      }

      .checkboxDivPost {
        display: flex;
        align-items: center;
        input {
          // height: 27px;
          width: 27px;
          margin: 0 4px;
          height: 16px !important;
          // margin: 0 4px;
        }

        div {
          display: flex;
          padding: 10px 0;
          input {
            // height: 27px;
            width: 27px;
            margin: 0 4px;
            // height: 0px !important;
          }

          label {
            padding: 0 4px;
          }
        }
      }

      .signInBtn {
        border: 1px solid #0a4422;
        border-radius: 12px;
        width: 70%;
        margin: 40px auto;
        display: flex;
        padding: 5px 10px;
        justify-content: center;
        color: black;
        cursor: pointer;

        .btnAuthAction {
          color: #0a4422;
          padding: 0 5px;
        }
      }
    }

    //OTP component style

    .OTPFormDiv {
      padding: 40px 0;
      flex-wrap: wrap;
      justify-content: center;

      .otpHeader {
        text-align: center;
        padding: 0px 10px 50px;
      }
      form {
        .otpFields {
          width: 60%;
          display: flex;
          justify-content: center;
          margin: auto;
          input {
            width: 40px;
            text-align: center;
            outline: none;
            border: none;
            border-bottom: 1px solid;
            margin: 0 5px;
          }
        }
        .validationWarn {
          color: red;
          width: 100%;
          margin: 15px 0 0;
          text-align: center;
        }
      }

      .countDownDiv {
        padding: 30px 10px;
        p {
          text-align: center;
        }
        .resendCodeDiv {
          display: flex;
          margin: auto;
          justify-content: center;
          p {
            margin: 0 5px;
            }
          .resendBtn {
            border: none;
            background: transparent;
            }
        }
      }
      .VerifyBtn {
        margin: 10px auto;
        width: 40%;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 10px;
        border-radius: 15px;
        border: none;
        
        color: $white;
      }
    }
  }
}

.optionMainButton {
  display: flex;
  background: #ffffff;
  border-radius: 12px;
  height: 45px;
  padding: 5px 10px;
  margin: 0px 0px 20px;
  border: 2px solid $secondary-color !important; 
  width: 100% !important;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0px;
  }
  .plusButton {
    color: $secondary-color;
    font-size: 27px;
    font-weight: bold;
  }
}
.inputDivOption {
  width: 100% !important;
  position: relative;
  input {
    width: 100% !important;
    margin: 10px;
  }
  .optionSaveDeleteButton {
    position: absolute;
    position: absolute;
    top: 11px;
    right: 7px;
    .checkClass {
      border: none;

      i {
        color: var(--success-color);
      }
    }
    .deleteClass {
      color: #c81c50;
      border: none;

    }
    button {
      margin: 0px 10px;
    }
  }
}
.optionParagraph {
  //   background: #ffffff;
  //   border-radius: 12px;
  //   height: 45px;
  //   padding: 5px 10px;
  //   margin: 0px 0px 20px;
  //   border: 2px solid #153866 !important;
  //   width: 100% !important;
}
.optionParagraphDiv {
  right: 28px;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 12px;
  height: 45px;
  padding: 5px 10px;
  margin: 0px 0px 20px;
  border: 2px solid $secondary-color !important;
  width: 100% !important;

  .deleteClass {
    border: none;
    i {
      color: #c81c50;
    }
  }
}

.btn {
  background: $tertiary-color;
  border-radius: 12px;
  color: $primary-button-font-color ;
  height: 45px;
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  margin: 20px 0px;
  border: none;
}
.btn:hover{
  background:#153866;
}
.required {
  color: red;
  width: 100%;
}
.typeField {
  width: 100%;
  display: flex;
  align-items: baseline;
}
.typeField  {
  input{
  width: 5% !important;
  height: 18px !important;
  }
  
}
.postProductTitle {
  color: $primary-color;
  text-align: center;
  font-size: 37px;
  font-weight: 700;
}
// .typeField label{
//     font-size: 17px !important;
// }

@media screen and (max-width: 1024px) {
  .registerPage {
    .rightAuth {
      .registerFormDiv {
        width: 85%;
        padding: 20px 15px;
        .subAuthTitle {
          width: 100%;
        }
        .signInBtn {
          width: 75%;
          text-align: center;
          flex-direction: column;
        }
      }
      .OTPFormDiv {
        padding: 20px 0;
      }
    }
  }
}
@media screen and (max-width: 990px) {
  .registerPage {
    .rightAuth {
      border-radius: 32px 32px 0px 0px;
      width: 100%;
      .registerFormDiv {
        width: 85%;
      }
    }
  }
  .postProductTitle{
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  .registerPage {
    .rightAuth {
      .registerFormDiv {
        width: 95%;
      }
    }
  }
}
@media (min-width: 1000px) {
  .postProductTitle {
    margin-bottom: 105px;
  }
}
