/* main color in arab chicago website  */
$primary-color: #08343F;
$secondary-color : #DCA13D;
$tertiary-color: #DCA13D;
$box-color: #E5E8E9;
$highlight-color: #565252;
$primary-button-font-color: #ffff;
$sub-box-color :  rgba(247, 254, 255, 0.1);
$danger-color: red;
$success-color : green;
$black: black;
$white: #ffff;
