@import "../_App.module.scss";

.easySearchContainer,
.easySearchContainerMobile {
  margin-bottom: 100px;
  margin-top: 100px;

  h5 {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: $primary-color;
  }
  p {
    font-size: 20px;
    color: $primary-color;
    font-weight: bold;
  }
}

.easySearchCard {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  height: 269px;
  width: 269px;
  padding: 20px;
  cursor: pointer;
  margin: 0px 42px;
  color: $primary-color;
  

  img {
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
    padding: 10px;
    width: 80px;
  }
}

// .easySearchCard {
//   &:hover {
//     p {
//       color: $secondary-color;
//     }
//   }
// }
// .easySearchHr{
//   z-index: -9999999;
//   position: relative;
//   top: 81px;
//   hr{
//   color: $secondary-color;
//   margin: 0;
//   opacity: 6.5;
//   border-top: 3px solid;
//   }
// }
@media (min-width: 601px) {
  .easySearchContainerMobile {
    display: none;
  }

  .easySearchCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .easySearchCardContainer {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .easySearchContainer {
    display: none;
  }
  .easySearchContainerMobile {
    display: block;
    padding: 34px 0px !important;
    p {
      text-align: center;
      padding: 36px;
    }
  }
  .easySearchCard {
    margin:38px 29px;
    width: 81% !important;

    img {
      margin: auto;
    }
  }
}

@media (max-width: 800px) {
  .easySearchCard {
    width: 186px;
  }
}
