/* main color in arab new jersey website  */
$primary-color: #06163F;
$secondary-color : #DC6026;
$tertiary-color: #DC6026;
$box-color: #D8D8D9;
$highlight-color: #565252;
$primary-button-font-color: #ffff;
$primary-button-font-color: #ffff;
$sub-box-color :  rgba(247, 254, 255, 0.1);
$danger-color: red;
$success-color : green;
$black: black;
$white: #ffff;
