@import "../_App.module.scss";

.discoverServiceContainer {
  position: relative;
}
.discoverServiceImageContainer {
  padding: 15px;
  height: 430px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 38px;
  filter: brightness(50%);
  color: white;
}

.discoverServiceText {
  position: absolute;
  top: 43px;
  color: $white;
  padding: 22px 96px;
  // h5 {
  //   font-size: 40px;
  //   font-weight: bold;
  //   color: $secondary-color;
  // }
  P {
    text-wrap: balance;
    padding-top: 38px;
    height: 230px;
    overflow: hidden;
    max-width: 818px;
    font-size: 22px;
    color: $primary-color;

  }
}
.discoverServiceButton {
  padding: 10px;
  // border-radius: 15px;
  border: none;
  font-weight: bold;
  margin-top: 22px;
  background-color: $tertiary-color;
  color: white;
  border: 3px solid $tertiary-color;
  transition: all 1.04s ease;
  width: 37%;
  font-size: 18px;
  text-align: center;
  // margin: 0px 78%;
}

// .discoverServiceButton {
//   &:hover {
//     background-color: $tertiary-color;
//     color: $primary-button-font-color;
//   }
// }

.discoverServiceButtonAr {
  padding: 10px;
  // border-radius: 15px;
  border: none;
  font-weight: bold;
  margin-top: 22px;
  background-color: $tertiary-color;
  color: white;
  border: 3px solid $tertiary-color;
  transition: all 1.04s ease;
  width: 37%;
  font-size: 18px;
  text-align: center;
}


@media (max-width: 480px) {
  .discoverServiceText {
    font-size: 15px;
  }

  .discoverServiceText {
    padding: 22px 21px;
  }
  .discoverServiceButton {
    width: 64%;
    margin: 0px;
  }
}
