@import "../_App.module.scss";

@mixin flex() {
  display: flex;
}

.rentContainer {
  @include flex;
  cursor: pointer;
  margin-bottom: 60px;
  margin-top: 60px;
  align-items: center;
}

.mainTitleShare {
  @include flex;
  align-items: baseline;
  justify-content: space-between;
  h4 {
    height: 49px;
    overflow: hidden;
    color: $secondary-color;
  }
}

.houseInfoPriceDiv {
  @include flex;
  align-items: flex-end;
  justify-content: space-between;
  p {
    height: 50px;
    overflow: hidden;
    color: $primary-color;
  }
}

.mainCardContainer {
  background-color: $sub-box-color;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 55%;
  padding: 21px;
  min-height: 207px;
  overflow: hidden;
}

.rentCardImage {
  margin: 0px 18px;
  position: relative;
  img {
    border-radius: 10px;
    width: 251px;
    height: 213px;
    object-fit: cover;
  }
}
.lookingText{
  position: absolute;
  top: 2px;
  background-color: $transparent-color;
  color: $white;
  padding: 5px;
  width: fit-content;
  margin: 7px;
  border-radius: 5px;
  font-weight: bold;
}

.houseInfo {
  @include flex;
  justify-content: space-between;
  p {
    color: $secondary-color;
  }

  i {
    color: $highlight-color;
  }
}

.favIconColor {
  margin: 0px 10px;
  font-size: 21px;
  color: $secondary-color;
}

.housePrice {
  font-weight: bold;
  font-size: 23px;
}

.rentContainer {
  &:hover {
    img {
      filter: brightness(50%);
    }
  }
}

.rentContainer {
  &:hover {
    .mainCardContainer {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

.moreInfoDiv{
  color: $primary-color !important;

}
.moreInfoDiv:hover{
  border-bottom: 2px solid $primary-color; ;
}
@media (min-width: 768px) {
  .houseTitleMobile{
    display: none;
  }
  .rentCardImageMobile{
    display: none;
  }
  .housePriceMobile{
    display: none;
  }
  
}
@media screen and (max-width: 768px) {
  .houseTitle {
    display: none;
  }
  .houseTitleMobile {
    overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    /* width: 210px; */
    height: 34px;
    font-size: 18px;
    color: $secondary-color;
  }
  .mainCardContainer {
    width: 100%;
    min-height: 332px;
    padding: 0px;
  }
  .rentContainer {
    position: relative;
  }
  .rentCardImageMobile {
    margin: 0px;
    // position: absolute;
    // top: 0px;
    img {
      min-width: 108px;
      max-width: 144px;
      height: 141px;
      object-fit: cover;
      // border-radius: 25px;
    }
  }
  .housePrice {
    display: none;
  }
  .housePriceMobile {
    text-align: center;
    color: $primary-color;
    font-weight: bold;
    font-size: 19px;
  }
  .mainTitleShare {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    // align-items: flex-end;
  }
  .houseInfoPriceDiv {
    flex-direction: column;
    padding: 13px;
    align-items: flex-start;
  }
  .rentCardImage {
    display: none;
  }
  .houseInfo {
    position: absolute;
    bottom: 0px;
    padding: 13px;
    p {
      font-size: 14px;
      margin: 0px 10px;
    }
  }
  .actionDiv {
    padding: 13px;
  }
  .shareIconMobile {
    height: 79px;
  }
  .moreInfoDiv {
    display: none;
  }
  .favIconColor{
    margin: 0px 6px;
    font-size: 17px;
  }
  .lookingText{
    width: min-content;
    margin: 3px;
  }
}


@media (min-width: 500px) and (max-width: 800px) {
  .rentCardImageMobile{
    img{
    min-width: 268px;
    max-width: 157px;
    height: 159px;
  }
}
}
@media (max-width:500px){
  .mainCardContainer{
    padding:30px;
  }
}